* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    min-height: 100vh;
    background-color: #a0a0a0 !important;
}

.container {
    background-color: #a0a0a0;
}

#map {
    width: 90%;
    height: 90vh;

    margin: 5%;
}

.params {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.params input + label {
    margin-top: 5px;
}

.params .buttons {
    margin: 10px 0;
    padding: 10px;
    display: flex;
}

.params .buttons button + button {
    margin-left: 10px;
}

.params .buttons button {
    width: 50%;
}

.history {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 100;
    box-shadow: rgb(9, 9, 9), 0.5;
}
